<head>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
    <nz-select (ngModelChange) = "showCollection($event)" [(ngModel)]="collection" >
        <nz-option nzValue= "all"  nzLabel= "All favourites" ></nz-option>
        <nz-option *ngFor = "let c of collections" nzValue= {{c.name}}  nzLabel= {{c.name}} ></nz-option>
    </nz-select>
  <br>
  <br>
<div class="gallery">

    <div *ngFor = "let data of currentPosts">

        <div class="gallery-item" tabindex="0">

            <img *ngIf = "data.content[0].image" src={{data.content[0].src}} class="gallery-image"  alt="">
            <div *ngIf = "!data.content[0].image" class="video">
                <video controls (click)="toggleVideo()" #videoPlayer>
                    <source src="{{data.content[0].src}}" type="video/mp4"/>
                    Browser not supported
                </video>
            </div>

            <div class="gallery-item-info">

                <ul>
                    <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{countLikes(data)}}</li>
                    <li class="gallery-item-dislikes"><span class="visually-hidden">Dislikes:</span><i class="fa fa-thumbs-down" aria-hidden="true"></i> {{countDislikes(data)}}</li>
                    <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> {{countComments(data)}}</li>
                </ul>

            </div>

        </div>

    </div>

</div>
