<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-submenu nzTitle="Profile" nzIcon="user">
            <ul>
              <li nz-menu-item (click)="Profile()">
              <i nz-icon nzType="user"></i>
              <span>View profile</span>
              </li>
              <li nz-menu-item (click)="NewAlbum()">
                <i nz-icon nzType="user"></i>
                <span>New post</span>
              </li>
              <li nz-menu-item (click)="NewStory()">
                <i nz-icon nzType="user"></i>
                <span>New story</span>
              </li>
              <!--<li nz-menu-item (click)="NewAlbum()">
                <i nz-icon nzType="user"></i>
                <span>New album</span>
              </li>-->
              <li nz-menu-item (click)="NewVerificationRequest()">
                <i nz-icon nzType="file-add" nzTheme="outline"></i>
                <span>New verification request</span>
              </li>
              <li nz-menu-item (click)="viewLiked()">
                <i nz-icon nzType="user" nzTheme="outline"></i>
                <span>View liked and disliked content</span>
              </li>
              <li nz-menu-item (click)="viewFavourites()">
                <i nz-icon nzType="user" nzTheme="outline"></i>
                <span>View favourites</span>
              </li>
              <li nz-menu-item (click)="closeFriends()">
                <i nz-icon nzType="user" nzTheme="outline"></i>
                <span>Close friends</span>
              </li>
              <li nz-menu-item (click)="notificationSetings()">
                <i nz-icon nzType="setting" nzTheme="outline"></i>
                <span>Notification settings</span>
              </li>
            </ul>
          </li>
          <li nz-menu-item (click)="Feed()">
            <i nz-icon nzType="home"></i>
            <span>Feed</span>
        </li>
        <li nz-menu-item (click)="Search()">
            <i nz-icon nzType="search"></i>
            <span>Search</span>
        </li>
        <li nz-menu-item (click)="logout()">
            <i nz-icon nzType="logout"></i>
            <span>Logout</span>
        </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
        </nz-header>
        <nz-content>
          <div class="inner-content">
            <nz-breadcrumb>
            </nz-breadcrumb>
            <router-outlet></router-outlet>
          </div>
        </nz-content>
      </nz-layout>
</nz-layout>
