<div class="center">
    <nz-table #basicTable nzBordered nzTitle="List of agent registration requests" [nzData]="listOfData">
        <thead>
          <tr>
            <th>Agent name</th>
            <th>Approve</th>
            <th>Deny</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.name}}</td>
            <td><button nz-button (click)="approve(data.id)" [disabled]="data.processed" nzType="primary">Approve</button></td>
            <td><button nz-button (click)="deny(data.id)" [disabled]="data.processed" nzType="primary">Deny</button></td>
          </tr>
        </tbody>
    </nz-table>
</div>
