<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
              <li nz-menu-item (click)="ViewVerificationRequest()">
                <i nz-icon nzType="file" nzTheme="outline"></i>
                <span>View verification requests</span>
              </li>
              <li nz-menu-item (click)="ViewReportRequest()">
                <i nz-icon nzType="file" nzTheme="outline"></i>
                <span>View report request</span>
              </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
        </nz-header>
        <nz-content>
          <div class="inner-content">
            <nz-breadcrumb>
            </nz-breadcrumb>
            <router-outlet></router-outlet>
          </div>
        </nz-content>
      </nz-layout>
</nz-layout>
