<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>
        <span>Username</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your username!">
        <input nz-input id="username" formControlName="username"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
        <span>Name</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
        <input nz-input id="name" formControlName="name"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="surname" nzRequired>
        <span>Surname</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your surname!">
        <input nz-input id="surname" formControlName="surname" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
        <input nz-input type="password" id="password" formControlName="password"
          (ngModelChange)="updateConfirmValidator()" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Phone Number</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24"
        nzErrorTip="Please input your phone number!">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" class="phone-select" [(ngModel)]="selectedValuePhonePrefix" ><!--[ngModelOptions]="{standalone: true}">-->
              <nz-option nzLabel="+381" nzValue="+381"></nz-option>
              <nz-option nzLabel="+387" nzValue="+387"></nz-option>
            </nz-select>
          </ng-template>
          <input formControlName="phone" id="'phone'" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dateOfBirth" nzRequired>
        <span>Date of birth</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24"  nzErrorTip="Please input date of birth!">
    <nz-date-picker [nzDisabledDate]="disabledDate" formControlName="dateOfBirth" format='yyyy-MM-dd' ></nz-date-picker><!--id="dateOfBirth" formControlName="dateOfBirth" [(ngModel)]="selectedValueDate" [ngModelOptions]="{standalone: true}"-->
    </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender" nzRequired>
        <span>Gender</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input user gender!">
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a user type" [(ngModel)]="selectedValueGender" [ngModelOptions]="{standalone: true}">
      <nz-option nzLabel="Male" nzValue="Male"></nz-option>
      <nz-option nzLabel="Female" nzValue="Female"></nz-option>
      <nz-option nzLabel="Non-Binary" nzValue="NonBinary"></nz-option>
    </nz-select>
    </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" >Register</button>
      </nz-form-control>
    </nz-form-item>
  </form>