<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
        <span>Name</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input name!">
        <input nz-input id="name" formControlName="name"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="surname" nzRequired>
        <span>Surname</span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your surname!">
        <input nz-input id="surname" formControlName="surname" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" nzRequired>
          <span>Verification category</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your category!">
            <nz-select formControlName="category">
                <nz-option nzValue="Business" nzLabel="Business"></nz-option>
                <nz-option nzValue="Influencer" nzLabel="Influencer"></nz-option>
                <nz-option nzValue="Sports" nzLabel="Sports"></nz-option>
                <nz-option nzValue="NewMedia" nzLabel="NewMedia"></nz-option>
                <nz-option nzValue="Brand" nzLabel="Brand"></nz-option>
                <nz-option nzValue="Organization" nzLabel="Organization"></nz-option>
              </nz-select>
        </nz-form-control>
      </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="file" nzRequired>
            <span>Document</span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your document!">
            <input ng-model="file_upload" name="file" type="file" id="file" (change)="fileChange($event)" #fileInput formControlName="file" />
          </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" >Post</button>
      </nz-form-control>
    </nz-form-item>
  </form>
